.home {
    display: flex;
    height: var(--container-height);
    flex-direction: column;
    padding-top: 6rem;
    align-items: center;
}

.home-img {
    z-index: 1;
}

.type-card {
    transform: translateY(-70px);
    width: 40rem;
    line-height: 2;
}

.home-content {
    height: 40rem;
    width: 90rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2rem 2rem #e8ffaed5;
    border-radius: 1.5rem;
    border: black 2px solid;
    animation: floating-card infinite 3s linear;
}

.card-text {
    font-size: x-large;
    line-height: 2.5rem;
}


@keyframes floating-card {
    from {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
        box-shadow: 2rem 2rem rgba(var(--lime-green), 0);
    }

    to {
        transform: translateY(0px);
    }
}
